@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dfece6;
    --foreground: #2d2d29;
    font-family: var(--font-poppins), sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

input[type="range"] {
  appearance: none;
  background: white;
  height: 8px; 
  border-radius: 5px; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  background: #aed88d; 
  border: 1px solid #389163;
  cursor: pointer; 
}

